# Python compiled byte code
*.pyc

# Bower components
static/bower_components/

# Uglified JavaScript
dist/

# Migrations
migrate.sh
media_root/
static/CACHE/
static/media/
static/admin/
static/grappelli/
static/geoposition/
.idea/

*.sqlite3
#Settings
main_wearhacks/settings/private.py

static-back/