/* line 1, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
a:hover {
  color: #1e699c; }

/* line 4, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
ul {
  list-style-type: none; }

/* line 8, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
#navigation {
  border-bottom: 1px solid whitesmoke;
  position: relative;
  height: 74px;
  padding-top: 6px;
  /* border-bottom: 10px solid #E8E8E8; */
  padding-left: 7px; }

/* line 16, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
#wearhacks-logo {
  float: left;
  margin-top: 0.5rem; }
  /* line 19, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
  #wearhacks-logo h4.brand {
    color: #333;
    padding-top: 8px;
    font-family: Raleway;
    text-transform: uppercase;
    font-size: 1.4 #wearhacks-logo h4.brand;
    font-weight: 600;
    margin-right: 5px;
    padding: 5px;
    margin-bottom: 0px;
    font-weight: bolder; }
    /* line 30, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
    #wearhacks-logo h4.brand:hover {
      color: #1e699c; }
  /* line 34, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
  #wearhacks-logo span.tagline {
    color: #404040;
    font-weight: 400;
    padding-bottom: 0px;
    padding-left: 10px;
    font-size: 0.6em;
    text-transform: uppercase;
    text-decoration: blink;
    border-left: 1px solid #EFEFEF;
    margin-left: 10px; }

/* line 46, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
#navigation-drop {
  position: absolute;
  right: 0;
  min-width: 240px;
  background: #333;
  margin-right: 6px;
  margin-top: 9px;
  z-index: 4;
  margin-top: 52px; }

/* line 56, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
ul.inline-list.social {
  padding: 0; }

/* line 61, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
.right-off-canvas-toggle .menu {
  margin-top: 1.6rem;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  position: absolute;
  right: 0;
  z-index: 5; }

/* line 71, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
.side-nav.secondary {
  display: block;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0;
  font-family: sans-serif;
  margin-left: 10px;
  z-index: 2; }
  /* line 80, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
  .side-nav.secondary li {
    margin-bottom: 0;
    text-transform: uppercase; }
    /* line 83, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
    .side-nav.secondary li a {
      color: #B9B9B9;
      border-bottom: 1px solid rgba(204, 204, 204, 0.09);
      border-left: 2px solid #333;
      padding: 10px 15px; }
      /* line 88, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
      .side-nav.secondary li a:hover {
        color: #FFFFFF;
        border-left: 2px solid #565656;
        background: #222; }
    /* line 94, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
    .side-nav.secondary li p {
      margin-bottom: 0;
      color: #333;
      font-size: 12px;
      border-bottom: 3px solid #333;
      width: 90%;
      font-weight: 400;
      border-bottom: px solid #FDFAFA; }
  /* line 106, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
  .side-nav.secondary li:last-child a {
    border-bottom: 0; }

/* line 115, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
.top-bar,
.middle-bar,
.bottom-bar {
  display: block;
  width: 23px;
  height: 2px;
  background-color: #333;
  margin-bottom: 4px;
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1) 0, background-color 0.6s ease 0; }

/* line 124, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
.top-bar, .bottom-bar {
  transform-origin: 100% 50%;
  transition: transform 0.5s, margin 0.5s; }

/* line 129, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
.middle-bar {
  transition-property: opacity;
  transition-duration: 0.6s; }

/* line 134, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
.top-bar-close {
  transform: rotate(-45deg);
  background-color: #333;
  transition: transform 0.5s, margin 0.5s;
  margin-bottom: 8px; }

/* line 142, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
.middle-bar-close {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s; }

/* line 148, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
.bottom-bar-close {
  transform: rotate(45deg);
  background-color: #333;
  transition: transform 0.5s; }

/* line 155, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
.footer-basic-centered {
  box-sizing: border-box;
  width: 100%;
  font: normal 18px sans-serif;
  border-top: 1px solid #CCC;
  height: 110px;
  padding: 45px;
  padding-top: 25px;
  padding-left: 10px;
  margin-top: 40px;
  background: white; }
  /* line 167, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
  .footer-basic-centered
ul li {
    list-style-type: none;
    display: inline-block; }
  /* line 173, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
  .footer-basic-centered a {
    color: #555;
    font-size: 0.7em; }
  /* line 177, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
  .footer-basic-centered a:hover {
    color: #1e699c; }
  /* line 180, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
  .footer-basic-centered h5 {
    font-size: 0.7em;
    text-transform: uppercase; }
  /* line 184, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
  .footer-basic-centered input {
    border-color: #CCC;
    box-shadow: none; }
  /* line 188, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
  .footer-basic-centered form .button {
    color: white;
    width: 33px;
    padding: 0px 13px;
    line-height: 36px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 3px;
    font-size: 16px;
    background-color: #1e699c; }
    /* line 197, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
    .footer-basic-centered form .button:hover {
      color: white;
      background-color: #008CBA; }
  /* line 205, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
  .footer-basic-centered ul.inline-list.social {
    margin-left: 0;
    padding: 0;
    padding-top: 2px; }
    /* line 209, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
    .footer-basic-centered ul.inline-list.social li:first-child {
      margin-left: 2px; }
    /* line 212, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
    .footer-basic-centered ul.inline-list.social li {
      margin-left: 1.2rem; }
    /* line 215, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
    .footer-basic-centered ul.inline-list.social a {
      font-size: 23px;
      color: #333; }
      /* line 218, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
      .footer-basic-centered ul.inline-list.social a:hover {
        color: #1e699c; }

/* line 228, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
.footer-basic-centered .footer-company-motto {
  color: #8d9093;
  font-size: 24px;
  margin: 0; }

/* line 234, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
.footer-basic-centered .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  margin: 0; }

/* line 240, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
.footer-basic-centered .footer-links {
  list-style: none;
  font-weight: bold;
  color: #ffffff;
  padding: 35px 0 23px;
  margin: 0; }

/* line 248, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
.footer-basic-centered .footer-links a {
  display: inline-block;
  text-decoration: none;
  color: inherit; }

/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 600px) {
  /* line 258, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
  .footer-basic-centered {
    padding: 35px; }
  /* line 262, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
  .footer-basic-centered .footer-company-motto {
    font-size: 18px; }
  /* line 266, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
  .footer-basic-centered .footer-company-name {
    font-size: 12px; }
  /* line 270, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
  .footer-basic-centered .footer-links {
    font-size: 14px;
    padding: 25px 0 20px; }
  /* line 275, /home/ytixu/gitHTML/main_wearhacks/static/scss/navigation.scss */
  .footer-basic-centered .footer-links a {
    line-height: 1.8; } }
