

<!DOCTYPE html>
<html>
  <head>
    <title>WearHacks |  {% block title %}  {% endblock %}</title>

    {% include 'stylesheets.html' %}
    {% include 'javascripts.html' %}
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' id='blink-google-fonts-css'  href='//fonts.googleapis.com/css?family=Montserrat%3Aregular%2C700%7CPT+Serif%3Aregular%2Citalic%2C700%26subset%3Dlatin%2C&#038;ver=1.0.5' type='text/css' media='all' />
      {% block script_section %}
      {% endblock %}
  </head>

  <body>
    <p id="back-top">
        <a href="#top"><i class="fa-caret-up fa"></i></a>
    </p>
    {% include 'navbar.html' %}

      {% block content %}

      {% endblock %}

    {% block scripts %}{% endblock %}
    <section id="footer">
  <div class="row">
  <div class="small-12 columns no-padding">

    <footer class="footer-basic-centered">

       <div class="large-6 columns "><ul class="inline-list">
        <li><p class="footer-company-name">Wearhacks &copy; 2015</p></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Blog</a></li>
         <li><a href="#">IOT Research & Innovation</a></li>
         <li><a href="#">Ambassador Program</a></li>
        <li><a href="#">Partnership</a></li>

        <li><a href="#">About Us</a></li>
        </ul></div>
    <div class="large-3 columns"><h5 class="header-footer">Connect with us</h5>
      <ul class="inline-list social">
            <li><a href=""><i class="fi-social-facebook"></i></a></li>
            <li><a href=""><i class="fi-social-linkedin"></i></a></li>
            <li><a href=""><i class="fi-social-youtube"></i></a></li>
            <li><a href=""><i class="fi-social-twitter"></i></a></li>
          </ul>
    </div>

    <div id="signup-field" class="large-3 columns "><h5>Sign up for updates</h5>
      <form id="footer-signup" action="/api/signup" method="post">
        <div class="row collapse">
        <div class="small-10 columns">
          <input name="email" type="email" placeholder="tony.stark@wearhacks.com" required>
        </div>
        <div class="small-2 columns">
          <input class="button postfix" type="submit" value="▶"> <i class="fa fa-caret-right"></i></input>
        </div>
      </div>
      </form></div>

      </div>

    </footer>

  </div>
</section>
<div id="signup-confirmation" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Awesome. I have it.</h2>
  <p class="lead">Your couch.  It is mine.</p>
  <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<div id="success-modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h1 class="text-center"><i class="fa fa-check-circle-o" style="font-size: 2em;color: #6AD47E;"></i></h1>
    <h2 id="title" class="text-center">  
      Success!
    </h2>
    <hr>
    <p id="success-message" class="lead text-center" ></p>
  
  <a class="close-reveal-modal" aria-label="Close">×</a>
</div>
<div id="error-modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h1 class="text-center"><i class="fa fa-times-circle-o" style="font-size: 2em;color: #DC6C6C;"></i></h1>
    <h2 id="title" class="text-center">  
      Oh Snap!
    </h2>
    <hr>
    <p id="error-message" class="lead text-center" ></p>
  
  <a class="close-reveal-modal" aria-label="Close">×</a>
</div>
  </body>
</html>
