

<!DOCTYPE html>
<html>
  <head>
    <title>WearHacks |  {% block title %}  {% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'stylesheets.html' %}
    {% include 'javascripts.html' %}
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' id='blink-google-fonts-css'  href='//fonts.googleapis.com/css?family=Montserrat%3Aregular%2C700%7CPT+Serif%3Aregular%2Citalic%2C700%26subset%3Dlatin%2C&#038;ver=1.0.5' type='text/css' media='all' />
      {% block script_section %}
      {% endblock %}
  </head>

  <body>
    <p id="back-top">
        <a href="#top"><i class="fa-caret-up fa"></i></a>
    </p>
    {% include 'navbar.html' %}

      {% block content %}

      {% endblock %}

    {% block scripts %}{% endblock %}


<section id="footer">
  <div class="row">
    
      <div class="small-12 medium-5 columns ">
       
        <ul class="nav">
        <li><a href="#">Home</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="{{config.A_BLOG_LINK}}">Blog</a></li>
         <li><a href="/ambassador">Ambassador Program</a></li>
        <li><a href="/partnerships">Partnership</a></li>

        <li><a href="/aboutus">About Us</a></li>
        </ul>
      </div>
    <div class="medium-3 columns"><h6 class="header-footer">Connect with us</h6>
      <ul class="inline-list social">
            <li><a href="{{config.A_SOCIAL_FACEBOOK}}"><i class="fi-social-facebook"></i></a></li>
            <li><a href="{{config.A_SOCIAL_LINKEDIN}}"><i class="fi-social-linkedin"></i></a></li>
            <li><a href="{{config.A_SOCIAL_YOUTUBE}}"><i class="fi-social-youtube"></i></a></li>
            <li><a href="{{config.A_SOCIAL_TWITTER}}"><i class="fi-social-twitter"></i></a></li>
            <li class="email"><p> Get in touch:  <i><a href="mailto:info@wearhacks.com">info@wearhacks.com</a></i></p> </li>
          </ul>
    </div>

    <div id="signup-field" class="medium-4 columns ">
      
      <form id="footer-signup" action="/api/signup" method="post">
       
        <div class="small-10 columns medium-12 no-padding">
          <h6 class="header-footer">Sign up for updates</h6>
          <div class="row collapse">
              <div class="small-10 columns">
                <input name="email" type="email" placeholder="tony.stark@wearhacks.com" required>
              </div>
              <div class="small-2 columns">
                <a href="#" class="button postfix" onclick="$('#footer-signup').find(':submit').click(); return false;"><i class="fa fa-caret-right"></i></a>
                <input style="display:none" type="submit" value=""> </input>
              </div>

          </div>
        </div>
      </form>
    </div>
    <div class="small-12 columns"></div>
  </div>
  <div class="row">
    <p class="copy">Wearhacks &copy; 2015</p>
  </div>
</section>

<div id="success-modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h1 class="text-center"><i class="fa fa-check-circle-o" style="font-size: 2em;color: #6AD47E;"></i></h1>
    <h2 id="title" class="text-center">  
      Success!
    </h2>
    <hr>
    <p id="success-message" class="lead text-center" ></p>
  
  <a class="close-reveal-modal" aria-label="Close">×</a>
</div>
<div id="error-modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h1 class="text-center"><i class="fa fa-times-circle-o" style="font-size: 2em;color: #DC6C6C;"></i></h1>
    <h2 id="title" class="text-center">  
      Oh Snap!
    </h2>
    <hr>
    <p id="error-message" class="lead text-center" ></p>
  
  <a class="close-reveal-modal" aria-label="Close">×</a>
</div>
  </body>
</html>
