{% extends "_base.html" %}
{% block title %} {{title}} {% endblock %}

{% load staticfiles%}
{% block script_section %}

{% endblock %}
{% block content %}
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;s=gt.call(d,'head')[0];s.appendChild(qs,s)}})(); fbq('track', 'Lead');</script>

<section id="body">
    
    <div class="columns small-12 top-header" style="background-image: url({% static 'images/ambassador/banner.jpg' %});background-position-y: 33%;" alt="">
            <div class="row"><h2 class="sub-header"><span><a href="/">Home</a> <i class="fa fa-angle-right"></i> </span> {{ title }}</h2></div>
    </div>

      <div class="row">
        
        <div class="large-10 large-offset-1 medium-12 columns text-center">
           
          <a class="typeform-share text-center" href="https://wearhacks.typeform.com/to/JatTbd" data-mode="1" target="_blank"><h2 style="display:inline-block;margin:auto">Bring Wearhacks To Your City!</h2></a>
          <div class="small-brk"></div>
          

          {{config.AMBASSADOR_TOP_COPY | safe}}  
        </div>
      </div>

    <div style="background:whitesmoke;  margin-top:2em">

      <div class="row">
        <div class="swiper-container swiper-container-horizontal">
          <div class="swiper-wrapper">
            <!-- Slides -->
          
                         {% for slide in slides %}
          <div class="swiper-slide" style="background-image:url('{{slide.photo.url}}');
     box-shadow: inset 0px 400px 0px rgba(0, 0, 0, {{slide.overlay_percentage}}); ">
              <div class="content" style=" {%if slide.align_left%}text-align:left; {%endif%}">
              {{slide.main_text | safe}}

                {% if slide.first_link %}
               <a href="{{slide.first_link}}">{{slide.first_link_text}} {{slide.background_color}} <i class="fa fa-chevron-right"></i></a>
                {% endif %}
                {% if slide.second_link %}
               <a href="{{slide.second_link}}">{{slide.second_link_text}} <i class="fa fa-chevron-right"></i></a>
               {% endif %}
               {% if slide.add_call_to_action %}
               <a id="signup-newsletter">Signup Now <i class="fa fa-chevron-right"></i></a>
               {% endif %}
              </div>
            </div>

        {% endfor %}

        </div>
              <!-- If we need pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-button-next swiper-button-white"></div>
        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>
  </div>

    </div>
    <hr style="opacity:0">
    <div class="row">
      <div class="amb-icons columns large-10 large-offset-1">
        <div class="columns large-4" data-sr="enter top over 1s and move 65px"><img src="{% static 'svg/handshake5.svg'%}" alt=""> <h6 >Leadership</h6></div>
        <div class="columns large-4" data-sr="enter top over 1s and move 65px"><img src="{% static 'svg/marketing-buzz.svg'%}" alt=""><h6>Network</h6></div>
        <div class="columns large-4" data-sr="enter top over 1s and move 65px"><img src="{% static 'svg/listing6.svg'%}" alt="">
          <h6>Engage</h6 ></div>
      </div>
    </div>
    <div class="row" style="margin-top:2em">
      <div class="columns large-10 large-offset-1">
{{config.AMBASSADOR_BOTTOM_COPY | safe}}      
</div>
    </div>
    <div class="row">
      <div class="columns large-10 large-offset-1 text-center">

    <hr/>
        <h6 class="call-action" data-sr="enter bottom over 1s and move 65px">
          Convinced? Join us and become the next Wearhacks ambassador!

        </h6>
        <div data-sr="enter bottom over 1s and move 65px"  >
           <a  class="typeform-share button button-large" href="https://wearhacks.typeform.com/to/JatTbd" data-mode="1" target="_blank">Start Now <i class="fa fa-angle-double-right"></i></a>
        </div>
       
      </div>
    </div>
</section>
{% endblock%}
