
{% extends "_base.html" %}

{% load staticfiles%}
{% block title %} Events {% endblock %}
{% block stylesheets %}
    <link href="{% static 'scss/events.scss' %}" media="screen, projection" rel="stylesheet" type="text/x-scss" />
{% endblock %}
{% block script_section %}

<script src="{% static 'javascript/events.js' %}"></script>
<script>

        var markers = [
        {% for event in events %}
                {
                    name:"{{ event.event_name }}",
                    position: {lat:{{ event.location.latitude}},lng:{{ event.location.longitude}} } ,
                    date:"{{ event.date }}",
                    address:"{{ event.address }}",
                    city:"{{ event.city }}",
                    url:"{{ event.link }}"
                },
        {% endfor %}
        ];


function initMap() {
  var customMapType = new google.maps.StyledMapType([
    {
        "featureType": "all",
        "elementType": "geometry",
        "stylers": [
            {
                "saturation": "0"
            },
            {
                "lightness": "0"
            },
            {
                "visibility": "on"
            },
            {
                "gamma": "1"
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "saturation": 36
            },
            {
                "color": "#e0e9f2"
            },
            {
                "lightness": 40
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "visibility": "off"
            },
            {
                "color": "#000000"
            },
            {
                "lightness": "0"
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "lightness": 20
            },
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "lightness": 17
            },
            {
                "weight": 1.2
            },
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#454e57"
            },
            {
                "lightness": "0"
            },
            {
                "visibility": "on"
            },
            {
                "weight": "1.00"
            },
            {
                "gamma": "1"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#515a63"
            },
            {
                "lightness": "0"
            }
        ]
    },
    {
        "featureType": "poi.attraction",
        "elementType": "geometry",
        "stylers": [
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "poi.attraction",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi.attraction",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi.business",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "lightness": "0"
            },
            {
                "color": "#384147"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": "0"
            },
            {
                "weight": 0.2
            },
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road.highway.controlled_access",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#9c2020"
            },
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry",
        "stylers": [
            {
                "lightness": "0"
            },
            {
                "visibility": "on"
            },
            {
                "color": "#384147"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#384147"
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#373f48"
            },
            {
                "lightness": "0"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#6a737c"
            },
            {
                "lightness": "0"
            },
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#1e2227"
            },
            {
                "lightness": "0"
            }
        ]
    }
], {name: 'wearhacks'});
  var customMapTypeId = 'wearhacks';
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 2,
    center: {lat:40,lng:0},
    disableDefaultUI: true,
    scrollwheel: false,
    navigationControl: false,
    mapTypeControl: false,
    scaleControl: false,
    mapTypeControlOptions: {
      mapTypeIds: [google.maps.MapTypeId.ROADMAP, customMapTypeId]
    }

  });





  var addMarker = function (event, map) {
        var contentString = '<div class="map-tag-content">' +

                '<h4 id="firstHeading" class="firstHeading">'+event.name+'</h4>' +
                '<div id="bodyContent">' +
                '<p>'+event.date+'</p><p>'+event.address+'</p><p>'+event.city+'</p>' +
                '<a href="'+event.url+'">' +
                'Sign up' +'</a>' +
                '</div>';

        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        var marker = new google.maps.Marker({
            position: event.position,
            map: map,
            title: event.name
        });
        marker.addListener('click', function () {
            infowindow.open(map, marker);
        });
    };
  markers.forEach(function(event) {
      addMarker(event,map);
  });
  map.mapTypes.set(customMapTypeId, customMapType);
  map.setMapTypeId(customMapTypeId);
}


    </script>
{% endblock %}
{% block content %}

<section id="body">

    <div class="columns small-12 top-header" style="background-image: url({% static 'images/event.jpg' %}); background-position-y: 70%" alt="">
            <div class="row"><h2 class="sub-header"><span><a href="/">Home &gt; </a></span> {{ title }}</h2></div>
    </div>
    <div class="row text-center">

     <div >
        <img width="200px" src="{% static 'images/wolf_large.png' %}" alt="">
        <h2 style="display:inline-block; margin:0px 20px;"><b>WEARHACKS</b> Hackathons</h2>
     </div>
     
    </div>
    

     <div id="event-mid-section" class="large-12-columns">
    <div class="row">

       <div class="small-12 medium-6 columns" style="text-align: center">
        <div class="youtube-placeholder" style="background-image:url('{% static 'images/youtube.jpg'%}')">
            <i class="fa fa-play"></i>
        </div>
         
       </div>
        <div class="small-12 medium-6 columns">
            <p class="maindesc col-sm-12"> {{config.EVENTS_HACKATHON_DESC | safe}}
         </p></div>
    </div>
    </div>
    <div class="large-12 columns">
        <div class="row">
           <div id="unique-section" class="columns small-12" >
                <div class="columns large-3 medium-6 small-12">
                    <div class="uniqueIcon" data-sr=' ease-in-out 100px'>
                        <img src="{% static 'svg/iot.svg'%}" alt="">
                    </div>
                    <h5>Wearables &amp; IoT</h5>
                    <p>We bring you the latest wearables and IOT so you can focus on your creativity. </p>
                </div>
                 <div class="columns large-3 medium-6 small-12">
                <div class="uniqueIcon" data-sr='ease-in-out 100px'>
                        <img src="{% static 'svg/darthvader.svg'%}" alt=""/>

                </div>
                <h5>All backgrounds</h5>
                <div class="smallsep"></div>
                <p>We gather all kind of innovators and industry experts. Everyone from tinkerers to engineers are welcome to our events. </p>
              </div>
                 <div class="columns large-3 medium-6  small-12">
                <div class="uniqueIcon"  data-sr='ease-in-out 100px'>
                     <img src="{% static 'svg/ref.svg'%}" alt=""/>
                </div>
                <h5>WearHacks Experience</h5>
                <div class="smallsep"></div>
                <p>We follow-up with the teams and help &amp; promote the best projects. We organize demos, talks, etc.
                </p>
                </div>
                 <div class="columns large-3 medium-6 small-12">
              <div class="uniqueIcon" data-sr='ease-in-out 100px'>
                      <img src="{% static 'svg/world.svg'%}" alt=""/>
              </div>
                <h5>International Presence</h5>
                <div class="smallsep"></div>
                <p>
                   We are already organizing events in Canada, Europe and the US.
                </p></div>
           </div>
       </div>
    </div>
          <!-- Swiper -->
        

<div class="row">
    <div class="large-12  columns">
        <br/>
        <div class="small-12"><h2 class="sub-header2" style="text-align:center">Upcoming Events </h2></div>
        <div class="small-brk"></div>
    </div>
    </div>
<div class="row">
    <div class="large-12 columns">

         {% for event in events %}
        <div class="event large-6 columns">
            <div class="event-photo" style="background-image:url('{{ event.photo.url }}')">
                <div class="event-desc">
                <h4>{{ event.event_name }}</h4>
                 <h5>{{ event.date }}</h5>
                 <p>Venue: {{ event.address }}</p>
                
            </div>
             {% if event.link %} <a class="website" href="{{ event.link }}" >View website <i class="fa fa-external-link-square"></i></a>
                 {% else %}  <a class="website" style="cursor:auto" >Website coming soon <i class="fa fa-exclamation-circle"></i></a>
                 {% endif %}
            </div>
            
        </div>
        {% endfor %}
    </div>
</div>

    <div class="small-brk"></div>
<div class="row collapse">
    <div class="columns large-12 ">
        <div id="map" style="height:400px;"></div>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCo2CgBucjUSXSld3KMWIAVynCtp36acFs&signed_in=false&callback=initMap"></script>
    </div>
</div>
<br>
</section>

{% endblock %}