
{% extends "_base.html" %}
{% load staticfiles %}
{% block title %} {{ title }} {% endblock %}
{% block stylesheets %}
    <link href="{% static 'scss/partners.scss' %}" media="screen, projection" rel="stylesheet" type="text/x-scss" />
{% endblock %}
{% block script_section %}
    <script src="{% static 'javascript/aboutus.js' %}"></script>
    <script src="{% static 'javascript/partner.js' %}"></script>

{% endblock %}
{% block content %}

<section id="body">

    <div class="columns small-12 top-header" style="background-image: url({% static 'images/partnerships.jpg' %});" alt="">
        <div class="row"><h2 class="sub-header"><span><a href="/">Home</a> &gt; <a href="/events">Event</a> &gt; </span> {{ title }}</h2></div>
    </div>

</section>

{% endblock %}