
{% extends "_base.html" %}

{% load staticfiles%}
{% block title %} Events {% endblock %}
{% block stylesheets %}
    <link href="{% static 'scss/events.scss' %}" media="screen, projection" rel="stylesheet" type="text/x-scss" />
{% endblock %}
{% block script_section %}

<script src="{% static 'javascript/events.js' %}"></script>
<script>

        var markers = [
        {% for event in events %}
                {
                    name:"{{ event.event_name }}",
                    position: {lat:{{ event.location.latitude}},lng:{{ event.location.longitude}} } ,
                    date:"{{ event.date }}",
                    address:"{{ event.address }}",
                    city:"{{ event.city }}",
                    url:"{{ event.link }}"
                },
        {% endfor %}
        {% for event in past_events %}
                {
                    name:"{{ event.event_name }}",
                    position: {lat:{{ event.location.latitude}},lng:{{ event.location.longitude}} } ,
                    date:"{{ event.date }}",
                    address:"{{ event.address }}",
                    city:"{{ event.city }}",
                    url:"{{ event.link }}"
                },
        {% endfor %}
        {% for workshop in workshops %}
                {
                    name:"{{ workshop.parent_workshop.name }}",
                    position: {lat:{{ workshop.location.latitude}},lng:{{ workshop.location.longitude}} } ,
                    date:"{{ workshop.date }}",
                    address:"{{ workshop.address }}",
                    url:"{{ workshop.link }}"
                },
        {% endfor %}
        ];


function initMap() {
  var customMapType = new google.maps.StyledMapType([
    {
        "featureType": "all",
        "elementType": "geometry",
        "stylers": [
            {
                "saturation": "0"
            },
            {
                "lightness": "0"
            },
            {
                "visibility": "on"
            },
            {
                "gamma": "1"
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "saturation": 36
            },
            {
                "color": "#e0e9f2"
            },
            {
                "lightness": 40
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "visibility": "off"
            },
            {
                "color": "#000000"
            },
            {
                "lightness": "0"
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "lightness": 20
            },
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "lightness": 17
            },
            {
                "weight": 1.2
            },
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#454e57"
            },
            {
                "lightness": "0"
            },
            {
                "visibility": "on"
            },
            {
                "weight": "1.00"
            },
            {
                "gamma": "1"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#515a63"
            },
            {
                "lightness": "0"
            }
        ]
    },
    {
        "featureType": "poi.attraction",
        "elementType": "geometry",
        "stylers": [
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "poi.attraction",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi.attraction",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi.business",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "lightness": "0"
            },
            {
                "color": "#384147"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": "0"
            },
            {
                "weight": 0.2
            },
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road.highway.controlled_access",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#9c2020"
            },
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry",
        "stylers": [
            {
                "lightness": "0"
            },
            {
                "visibility": "on"
            },
            {
                "color": "#384147"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#384147"
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#373f48"
            },
            {
                "lightness": "0"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#6a737c"
            },
            {
                "lightness": "0"
            },
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#1e2227"
            },
            {
                "lightness": "0"
            }
        ]
    }
], {name: 'wearhacks'});
  var customMapTypeId = 'wearhacks';
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 2,
    center: {lat:40,lng:0},
    disableDefaultUI: true,
    scrollwheel: false,
    navigationControl: false,
    mapTypeControl: false,
    scaleControl: false,
    mapTypeControlOptions: {
      mapTypeIds: [google.maps.MapTypeId.ROADMAP, customMapTypeId]
    }

  });





  var addMarker = function (event, map) {
        var contentString = '<div class="map-tag-content">' +

                '<h4 id="firstHeading" class="firstHeading">'+event.name+'</h4>' +
                '<div id="bodyContent">' +
                '<p>'+event.date+'</p><p>'+event.address+'</p><p>'+event.city+'</p>' +
                '</div>';

        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        var marker = new google.maps.Marker({
            position: event.position,
            map: map,
            title: event.name
        });
        marker.addListener('click', function () {
            infowindow.open(map, marker);
        });
    };
  markers.forEach(function(event) {
      addMarker(event,map);
  });
  map.mapTypes.set(customMapTypeId, customMapType);
  map.setMapTypeId(customMapTypeId);
}


    </script>
{% endblock %}
{% block content %}

<section id="body">

    <div class="columns small-12 top-header" style="background-image: url({% static 'images/event.jpg' %}); background-position-y: 70%" alt="">
            <div class="row"><h2 class="sub-header"><span><a href="/">Home </a> <i class="fa fa-angle-right"></i></span> {{ title }} {{ name }}</h2></div>
    </div>

    <div class="row text-center">

        
        <h2 style="display:inline-block; margin:0px 20px;"><b>WearHacks</b> Events</h2>
        <img style="display:block; text-align:center; margin:auto" width="100px" src="{% static 'images/wolf_large.png' %}" alt="">
        <br/>
     <div class="event-types">
        
             <a href="#hackathons"><i class="fa fa-angle-right"></i> Hackathons</a>
        
            <a href="#workshops"><i class="fa fa-angle-right"></i> Workshops</a>
         
     </div>

    </div>


     <div id="event-mid-section" class="large-12-columns">
    <div class="row">

       <div class="small-12 medium-6 columns" style="text-align: center">
        <div class="youtube-placeholder" style="background-image:url('{% static 'images/youtube.jpg'%}')">
            <i class="fa fa-play"></i>
        </div>

       </div>
        <div class="small-12 medium-6 columns">
            <h4>Wearhacks Hackathons</h4>
            <p class="maindesc col-sm-12"> {{config.EVENTS_HACKATHON_DESC | safe}}
         </p></div>
    </div>
    </div>
    <div class="large-12 columns">
        <div class="row">
           <div id="unique-section" class="columns small-12" >
                <div class="columns large-3 medium-6 small-12">
                    <div class="uniqueIcon" data-sr=' ease-in-out 100px'>
                        <img src="{% static 'svg/iot.svg'%}" alt="">
                    </div>
                    <h6>Discover</h6>
                    <p>Our Hackathons feature the latest and greatest connected technology. Join the early adopters of the community.</p>
                </div>
                 <div class="columns large-3 medium-6 small-12">
                <div class="uniqueIcon" data-sr='ease-in-out 100px'>
                        <img src="{% static 'svg/darthvader.svg'%}" alt=""/>

                </div>
                <h6>Attract</h6>
                <div class="smallsep"></div>
                <p> Our creators come from all walks of earth, from students to professionals. Identify and meet to expand your network. </p>
              </div>
                 <div class="columns large-3 medium-6  small-12">
                <div class="uniqueIcon"  data-sr='ease-in-out 100px'>
                     <img src="{% static 'svg/ref.svg'%}" alt=""/>
                </div>
                <h6>Connect</h6>
                <div class="smallsep"></div>
                <p>Our presence begins with a hackathon, stay involved and be part of the fun as our community grows.
                </p>
                </div>
                 <div class="columns large-3 medium-6 small-12">
              <div class="uniqueIcon" data-sr='ease-in-out 100px'>
                      <img src="{% static 'svg/world.svg'%}" alt=""/>
              </div>
                <h6>Discover</h6>
                <div class="smallsep"></div>
                <p>
                   Our presence begins with a hackathon, stay involved and gain global recognition (communities/locals?) as our community grows.
                </p></div>
           </div>
       </div>
    </div>
          <!-- Swiper -->
</div>
<div id="hackathons" class="large-12 columns">
    <div class="row">
    <div class="small-12 text-center" >
            <h3>Upcoming Hackathons</h3>
            <hr class="primary">
    </div>
    <div class="large-12 columns">
        
         {% for event in events %}
        <div class="event {% if forloop.counter != 1 %}large-6 {% endif %} columns">
           <div class="event-photo" style="{% if event.photo %}background-image:url('{{ event.photo.url }}') {% endif %}">
                <div class="event-desc">
                <h4>{{ event.event_name }}</h4>
                 <h5>{{ event.date }}</h5>
                 <p>Venue: <a class="dark" href="http://maps.google.com/?q={{ event.address }}">{{ event.address }} <i class="fa fa-map-marker"></i></a></p>

                </div>
             {% if event.link %} <a class="website" target="_blank" href="{{ event.link }}" >View Website <i class="fa fa-external-link-square"></i></a>
                 {% else %}  <a class="website" style="cursor:auto" >Website Coming Soon <i class="fa fa-exclamation-circle"></i></a>
                 {% endif %}
            </div>

        </div>
        {% endfor %}
    </div>
        <div class="large-12  columns">
            <div class="small-12 text-center" style="padding-top:20px"><h3>Past Hackathons</h3>
                <hr class="primary">
            </div>

            <br/>
        </div>
        <div class="large-12 columns" style="position:relative">

             {% for event in past_events %}
               <div class="recent-event large-6 columns small-12">
                <a class="recent-event-link invert" href="/events/{{ event.slug }}"  data-sr="enter bottom">
                    <h6>
                    {{ event.event_name }} <span> {{ event.date }}</span>
                    </h6>
                </a>
              </div>

            {% endfor %}
            
        </div>
    </div>
</div>
<hr>
<div id="workshops" class="row">
    <div class="small-12">
            <h3 style="text-align:center">Wearhacks Workshops </h3>
            <hr class="secondary">
            <br>
    </div>
    <div class="large-12 columns">
        
        {% for workshop in workshops %}
        <div class="workshop-listitem columns" style="{% if workshop.parent_workshop.photo %}background-image:url('{{ workshop.parent_workshop.photo.url }}') {% endif %}">
            <div class="columns large-5 medium-6 text-left">
                <div class="event-desc">
                <h4>{{ workshop.parent_workshop.name }}</h4>
                 <h6>{{ workshop.date }}</h6>
                 <p>Venue: <a class="dark" href="http://maps.google.com/?q={{ workshop.address }}">{{ workshop.address }} <i class="fa fa-map-marker"></i></a></p>
                 <hr>
                    <div class="event-icon">
                        <i class="fa fa-graduation-cap"></i>
                        {{workshop.parent_workshop.difficulty_text}}
                    </div>
                    <div class="event-icon">
                        <i class="fa fa-wrench"></i>
                        {{workshop.parent_workshop.required_tools}}
                    </div>
                    <div class="event-icon">
                        <i class="fa fa-graduation-cap"></i> 
                        {{workshop.parent_workshop.duration}}
                    </div>
                </div>
            </div>
            {% for tutor in workshop.workshoptutor_set.all %}
            <div class="columns large-7 medium-6">
                        <div class="workshop-details small-12 columns">
                             <h6>Workshop Details</h6>
                            <p> {{ workshop.parent_workshop.short_description }}</p>
                            
                        </div>
                        <div class="facilitator small-12 columns">
                            
                            <h6>FACILITATOR</h6>
                            <div class="avatar small-4 columns" style="background-image:url({{tutor.photo.url}}"></div>
                            <div class="columns small-8">
                                <strong>
                                    <a href="mailto:{{ tutor.email }}">{{ tutor.name }} <i class="fa fa-envelope-o"></i></a> <br/>
                                    {{ tutor.title }} 
                                   
                                </strong>
                            </div>
                            
                        </div>
            </div>
            {% endfor %}
            <div class="large-7 columns"></div>
        </div>
        <div class="large-6 columns button-details"><a href="{{workshop.eventbrite_link}}">View Details <i class="fa fa-external-link"></i></a></div>
        <div class="large-6 columns button-register"><a href="{{workshop.eventbrite_link}}">Register <i class="fa fa-external-link"></i></a></div>
        {% endfor %}
    </div>
</div>

<div class="row collapse">
    <div class="columns large-12 ">
        <div id="map" style="height:400px;"></div>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCo2CgBucjUSXSld3KMWIAVynCtp36acFs&signed_in=false&callback=initMap"></script>
    </div>
</div>
<br>
</section>

{% endblock %}