
{% extends "_base.html" %}

{% load staticfiles%}
{% block title %} Home {% endblock %}
{% block content %}
<section id="body">

 <div class="row">
  <div class="columns small-12 no-padding">
    <!-- Slider main container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide" style="background:url('{% static 'images/slidekids.jpg'%}');width: 1000px;background-size: cover;background-position: 50% 50%;">
                <h3 style="
    font-family: freight;
    font-weight: 100;
    font-size: 1.8em;
    /* font-weight: bold; */
    font-style: italic;
    /* border-left: 2px solid #333; */
    padding-left: 7px;
    margin-top: 10px;
    text-align: center;
    color: #313131;
    /* text-transform: uppercase; */
    background-color: rgba(0, 0, 0, 0.60);
    color: white;
    text-align: center;
    width: 100%;
    text-transform: inherit;
    margin-left: auto;
    margin-right: auto;
    padding: 140px 81px;
">Wearhacks is a set of initiatives to create the learning platform where the next <b>Elon Musk</b> will come out of.</h3>
            </div>
            <div class="swiper-slide"style="background:url('{% static  'images/slide2.jpg'%}');">
                <div class="content" style="top:30vh; color:white;">
                    <h1>Hackathons</h1>
                    <h4>We empower creative thinkers by providing mentorship and innovation through hackathons</h4>
                    <a href="" class="href">Learn More <i class="fa fa-chevron-right"></i></a>
                </div>

            </div>

            <div class="swiper-slide" style="background:url('{% static 'images/slide5.jpg'%}');  background-size: 100%;">
              <div class="content" style="top: 30vh; text-align: center; width: 100%; color: white; display: block;">
              <h1>Wearhacks Amabassador Program</h1>
<h3 style="color:white;background-color: rgba(0, 0, 0, 0.3);padding: 20px;/* text-shadow: 1px 1px 0px #131313; */font-size: 20px;">"It is a challenging but extremely rewarding experience, and I got the opportunity to connect with many amazing people in the tech community!" <small style="
    color: white;
">-Jenny Yu (WH Vancouver Ambassador)</small></h3>
              <a href="#">Meet Our Ambassadors <i class="fa fa-chevron-right"></i></a>
              </div>
            </div>

            <div class="swiper-slide" style="background:url('{% static 'images/slide4.jpg'%}')"></div>
            <div class="swiper-slide" style="background:url('{% static 'images/slide5.jpg'%}'); background-size: 100%"></div>

        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-button-next swiper-button-white"></div>
        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>

  </div>
  </div>
        <div class="row">

        </div>
  <div class="row">
  <div class="small-12 columns no-padding">
    <div class="large-7 columns no-padding mid-content">

      <div class="blog-section" style="background-image:url('{% static 'images/softlayer.jpg'%}')">



      </div>
       <div class="content-blog" >

          <h5>Sed varius sapien at quam semper bibendum.</h5>
          <p> Donec congue justo ut odio fringilla, at laoreet nulla pulvinar. Pellentesque viverra posuere magna, sagittis varius risus. Quisque consequat tempor mollis. Mauris eleifend, ligula ac ullamcorper hendrerit, arcu metus suscipit purus, sit amet congue risus magna sit amet dui. <a href="">Read More<i class="fa fa-angle-double-right"></i></a></p>


        </div>
    </div>
    <div class="large-5 columns no-padding">
      <div class="sub-content small-12 columns">
      <div class="content-img" style="background-image:url('{% static 'images/innovation.jpg'%}')">
        <a href="/consulting">

        </a>
      </div>
      <div class="description">
        <h4>This is the centre of innovation.</h4>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text.  </p>
      </div>
    </div>
    <div class="sub-content small-12 columns">

      <div class="content-img" style="background-image:url('{% static 'images/team.jpg'%}')">
        <a href="/aboutus">

        </a>
      </div>
      <div class="description">
        <h4>About Us</h4>
        <p>We are creative thinkers, engineers, and tinkerers who all share the vision of innovating education.  </p>
      </div>

    </div>
      <div class="sub-content small-12 columns">

      <div class="content-img" style="background-image:url('{% static 'images/projects.jpg'%}')">
        <a href="/projects">

        </a>

      </div>
            <div class="description">
        <h4>Wearhacks Lab</h4>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text.  </p>
      </div>
    </div>
    <div class="sub-content small-12 columns top-margin">
      <div class="content-img" style="background-image:url('{% static 'images/partnership.jpg'%}')">
        <a href="/partnership">
        <div class="overlay">
          <p></p>
        </div>
        </a>
      </div>
      <div class="description">
        <h4>Partnerships</h4>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text.  </p>
      </div>
    </div>

    </div>
  </div>
  </div>
  <br/>
  <div id="company-desc" class="large-10 columns large-offset-1 collapse" style="
    background-color: #333;
    margin-top: 2px;display:none;
">

    <div class="large-6 columns">
      <img class="logo" src="{% static 'images/logo-white.png'%}" />
      <p >WearHacks is an international non-profit organization headquartered in Montreal, focused on the promotion of innovation and entrepreneurship in Wearable Technology and Internet of Things all over the world. <span><a href=""> Learn More <i class="fa fa-angle-double-right"></i></a></span></p>
    </div>
        <div class="large-6 columns">
      <h4>Events near you</h4>
        <ul>

         </ul>
         <a href="#" class="button small">See All Events</a>

      </div>
    </div>

</div>

</section>
<section id="footer">
  <div class="row">
  <div class="small-12 columns no-padding">



  </div>
</section>
{% endblock %}