
{% extends "_base.html" %}

{% load staticfiles%}
{% block title %} Home {% endblock %}
{% block content %}

<section id="body">

 <div class="row">
  <div class="columns small-12 no-padding">
    <!-- Slider main container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide" style="background:url('{% static 'images/slidekids2.jpg'%}');box-shadow: rgba(9, 50, 68, 0.690196) 0px 900px 0px inset;background-size: cover;background-position: 50% 50%;">
              <div class="content text-center">
                <h3 style="color: white;">WEARHACKS is a set of <b>initiatives</b> to create the learning platform where the next <b>Elon Musk</b> will come from.</h3>
      <a href="/aboutus/" >Learn More <i class="fa fa-chevron-right"></i></a>
      </div>
            </div>
            <div class="swiper-slide"style="background-image:url('{% static  'images/bannerhackathon.jpg'%}'); background-size:cover; box-shadow: inset 0px 400px 0px rgba(0,0,0,0.7)">
                <div class="content text-left" style="top:30vh; color:white; ">
                    <img src="{% static 'images/logo-white.png' %}" class="columns large-4" style="display:inline-block;margin-top:-30px" alt="">
                    <div class="columns large-8">
                      <h1>WEARHACKS Hackathons</h1>
                    <p style="font-size: 1.3rem;">We empower creative thinkers by providing mentorship and innovation through hackathons</p>
                    <a href="/events/" class="href">Learn More <i class="fa fa-chevron-right"></i></a>
                    </div>
                    
                </div>

            </div>

            <div class="swiper-slide" style="background:url('{% static 'images/ambassadors.jpg'%}');  background-size: 100%;
    
    background-size: cover;
    box-shadow: inset 0px 900px 0px rgba(14, 14, 14, 0.8);
    background-position-y: 54%;">
              <div class="content" style="top: 30vh; text-align: center; width: 100%; color: white; display: block;">
              <h1>Wearhacks Amabassador Program</h1>
<h3 style="color:white;padding: 20px;/* text-shadow: 1px 1px 0px #131313; */font-size: 20px;">"It is a challenging but extremely rewarding experience, and I got the opportunity to connect with many amazing people in the tech community!" <br/> <small style="
    color: white;
">-Jenny Yu, WH Vancouver Ambassador</small></h3>
              <a href="/ambassador/">Meet Our Ambassadors <i class="fa fa-chevron-right"></i></a>
               <a href="/ambassador/">Learn More <i class="fa fa-chevron-right"></i></a>
              </div>
            </div>


        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-button-next swiper-button-white"></div>
        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>

  </div>
  </div>
        <div class="row">

        </div>
  <div class="row">
  <div class="small-12 columns no-padding" style="margin-top: 0.7em">
    <div class="large-7 columns no-padding mid-content" style="height: 24.5em;">

      <div class="blog-section" style="background-image:url('{{ blog_image }}')">
        <a href="{{blog_link }}"><h5>{{blog_title}}</h5></a>
      </div>
       <div class="content-blog" >
           {{blog_excerpt | safe}} 
           <a href="{{blog_link }} ">Read More <i class="fa fa-angle-double-right"></i></a>


        </div>
    </div>
    <div class="large-5 columns no-padding" style="padding-left: 0.7em;">

      <div class="sub-content small-12 columns">
      
        <a class="category" href="/events">
          <div class="content-img" style="background-image:url('{% static 'images/innovation.jpg'%}')">
          
          </div>
        
          <div class="description">
            <h6>Events</h6>
            <p>We bring together students, mentors and tinkerers and provide them the tools to build cool things.</p>
          </div>
        </a>
    </div>
    <div class="sub-content small-12 columns">
      <a href="/aboutus">
      <div class="content-img" style="background-image:url('{% static 'images/team.jpg'%}')">
 
      </div>
      <div class="description">
        <h6>About Us</h6>
        <p>A group engineers, designers, and tinkerers that share the vision of improving hardware education.</p>
      </div>
      </a>

    </div>
      <div class="sub-content small-12 columns">
      <a href="#">
        <div class="content-img" style="background-image:url('{% static 'images/projects.jpg'%}')">
     
        </div>
        <div class="description">
          <h6>Projects</h6>
          <p>Wearhackers' projects do not end at hackathons, they are a stepping stone to something greater.</p>
        </div>
      </a>
    </div>
    <div class="sub-content small-12 columns top-margin">
      <a href="/partnership">
      <div class="content-img" style="background-image:url('{% static 'images/partnership.jpg'%}')">
       
      </div>
      <div class="description">
        <h6>Partnerships</h6>
        <p>Help us create the next generations of innovators. We cannot do it alone.</p>
      </div>
      </a>
    </div>

    </div>
  </div>
  </div>
  <br/>
  <div id="company-desc" class="large-10 columns large-offset-1 collapse" style="
    background-color: #333;
    margin-top: 2px;display:none;
">

    <div class="large-6 columns">
      <img class="logo" src="{% static 'images/logo-white.png'%}" />
      <p >WearHacks is an international non-profit organization headquartered in Montreal, focused on the promotion of innovation and entrepreneurship in Wearable Technology and Internet of Things all over the world. <span><a href=""> Learn More <i class="fa fa-angle-double-right"></i></a></span></p>
    </div>
        <div class="large-6 columns">
      <h4>Events near you</h4>
        <ul>

         </ul>
         <a href="#" class="button small">See All Events</a>

      </div>
    </div>

</div>

</section>
<section id="footer">
  <div class="row">
  <div class="small-12 columns no-padding">



  </div>
</section>
{% endblock %}