<div id="navigation" class="row">
  <div class="columns small-12 no-padding" style="position:relative">
    <div id="wearhacks-logo" class="clearfix">
     <a href="/"><h4 class="brand">WearHacks<span class="tagline">Imagine Enchantment.</span></h4></a>
    </div>
    <div id="mainmenu">
    <a class="right-off-canvas-toggle" href="#">
      <div class="menu">
        <div class="top-bar"></div>
        <div class="middle-bar"></div>
        <div class="bottom-bar"></div>
      </div>

    </a>
        <div class="hover-menu" style="z-index:4">
        <div id="navigation-drop" style="display: none;">
          <ul class="side-nav secondary">
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/ambassador">Ambassador Program</a></li>
            <li><a href="/partnership">Partnerships</a></li>
            <li><a href="http://blog.wearhacks.com">Blog</a></li>
          </ul>
        </div>
        </div>
    </div>
  </div>
  </div>