
{% extends "_base.html" %}
{% load staticfiles%}
{% block title %} {{ title }} {% endblock %}
{% block stylesheets %}
    <link href="{% static 'scss/partners.scss' %}" media="screen, projection" rel="stylesheet" type="text/x-scss" />
{% endblock %}
{% block script_section %}
    <script src="{% static 'javascript/aboutus.js' %}"></script>

{% endblock %}
{% block content %}

<section id="body">

        <div class="columns small-12 top-header" style="background-image: url(/static/images/team.jpg);" alt="">
            <div class="row"><h2 class="sub-header"><span><a href="/">Home</a> &gt; </span> {{ title }}</h2></div>
        </div>

     <div class="row ">
          <div class="small-12 medium-6 large-4 columns">
                  <!-- Swiper -->
                    <div id="swiper-3d">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" style="background-image:url({% static 'images/album/slide_1.jpg' %})"></div>
                            <div class="swiper-slide" style="background-image:url({% static 'images/album/slide_2.jpg' %})"></div>
                            <div class="swiper-slide" style="background-image:url({% static 'images/album/slide_3.jpg' %})"></div>
                            <div class="swiper-slide" style="background-image:url({% static 'images/album/slide4.jpg' %})"></div>
                            <div class="swiper-slide" style="background-image:url({% static 'images/album/slide_kid.jpg' %})"></div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                    </div>
        </div>
        <div class="small-12 medium-6 large-8  columns paragraph">
            <h2 class="sub-header2">{{ content.title }}</h2>
            {{ content.text }}
        </div>

    </div>

     <div class="small-brk"></div>
    <div class="row ">
        <div class="team-header small-12 columns">
            <h2 class="sub-header2" style="margin-bottom:20px">Partners</h2>
        </div>
        <div class="columns large-12 text-center">
        {% for partner in partners %}
            <a href="{{ partner.link }}" target="_blank">
                <img class="partner-image" src="/media/{{ partner.photo }}">
            </a>
        {% endfor %}
        </div>
    </div>
    <div class="small-brk"></div>
</section>

{% endblock %}