
{% extends "_base.html" %}
{% load staticfiles %}
{% block title %} {{ title }} {% endblock %}
{% block stylesheets %}
    <link href="{% static 'scss/individualevent.scss' %}" media="screen, projection" rel="stylesheet" type="text/x-scss" />
{% endblock %}
{% block script_section %}
    <script src="{% static 'bower_components/jquery.lazyload/jquery.lazyload.js' %}"></script>
    <script src="{% static 'javascript/projects.js' %}"></script>
    <script>
    </script>
{% endblock %}
{% block content %}
<style>
    .winner-image {
        height:10em;
        margin-bottom:0;
        border-bottom:1px solid #EEE;

    }
    .project-description {
        height:8em;
        background: white;
        margin:0;
        overflow: hidden;
    }
    #all-projects {
            background: rgba(238, 238, 238, 1);
    }
    a.label:hover {
        color:white;
        opacity: 0.8;
    }
</style>
<script>  
    $(document).ready(function() {
        $( "#search-name" ).bind('input', function() {
            var found = 0;
            var search = $(this).val();
          $('.project-box').each(function(i,elem) {
            if(elem.id.toLowerCase().indexOf(search.toLowerCase()) > -1) {
                $(elem).show(500);
                found ++;
            }
            else
                $(elem).hide(500);
          });
          (found == 0) ? $('#nonefound').show(100):$('#nonefound').hide(100);
          
        });
    });
</script>
<section id="body">

    <div class="columns small-12 top-header" style="background-image: url('{% static 'images/album/slide_3.jpg'%} '); background-position-y: 30%" alt="">
            <div class="row"><h2 class="sub-header"><span><a href="/">Home</a> <i class="fa fa-angle-right"></i> </span> {{ title }}</h2></div>
        </div>
    
        

         <div id="projects">
            <div class="row">
            <div class="small-12 columns">
                <h2 style="margin-bottom:20px">WearHackers' Projects Archive</h2>
                <p>{{config.PROJECTS_PAGE_TOP}}</p>
                <h6>Search by name</h6>
                <input id="search-name" type="text" placeholder="project" />
            </div>
            </div>
            <div id="all-projects">
            <div class="columns large-10 large-offset-1 small-12 margin-bottom">
            {% for winner in top_projects %}
                <div id="{{winner.project_name}}" class="large-3 medium-4 small-6 columns no-padding project-box">
                    <div class="project">
                        <a href="{{winner.url}}" target="_blank">
                            <div class="winner-image lazy" data-original="{% if winner.image %}{{winner.image.url}}{% endif %}">
                            </div>
                        </a>
                        <div class="project-description">{% if winner.project_type == '2' %}<span class=" secondary label">Winner</span>{%endif%} <a href="/events/{{ winner.submitted_event.slug}}" class="primary label"> {{ winner.submitted_event.event_name }}</a><br/><h6>{{ winner.project_name }} </h6>
                        <p>{{ winner.short_description }}</p> </div>
                    </div>
                </div>
            {% endfor %}
             {% for winner in bottom_projects %}
                <div id="{{winner.project_name}}" class="large-3 medium-4 small-6 columns no-padding project-box">
                    <div class="project">
                        <a href="{{winner.url}}" target="_blank">
                            <div class="winner-image lazy" data-original="{% if winner.image %}{{winner.image.url}}{% endif %}">
                            </div>
                        </a>
                        <div class="project-description">{% if winner.project_type == '2' %}<span class=" secondary label">Winner</span>{%endif%} <a href="/events/{{ winner.submitted_event.slug}}" class="primary label"> {{ winner.submitted_event.event_name }}</a><br/><h6>{{ winner.project_name }} </h6>
                        <p>{{ winner.short_description }}</p> </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="row">
                <h2 id="nonefound" class="text-center" style="display:none">No projects found!</h4>
                    </div>

            </div>
           
                        


</section>


{% endblock %}