{% load static %}
{% load compress %}
{% compress css %}
<link href="{% static 'scss/app.scss' %}" media="screen, projection" rel="stylesheet" type="text/x-scss" />
<link href="{% static 'scss/home.scss' %}" media="screen, projection" rel="stylesheet" type="text/x-scss" />
<link href="{% static 'scss/navigation.scss' %}" media="screen, projection" rel="stylesheet" type="text/x-scss" />
<link href="{% static 'bower_components/swiper/dist/css/swiper.min.css' %}" media="screen, projection" rel="stylesheet" type="text/x-scss" />
{% block stylesheets %} {% endblock %}
{% endcompress %}
