
{% extends "_base.html" %}

{% load staticfiles%}
{% load extension_extra %}
{% block title %} Events {% endblock %}
{% block stylesheets %}
    <link href="{% static 'scss/events.scss' %}" media="screen, projection" rel="stylesheet" type="text/x-scss" />
    <link href="{% static 'scss/workshop.scss' %}" media="screen, projection" rel="stylesheet" type="text/x-scss" />
{% endblock %}
{% block script_section %}

<script src="{% static 'javascript/events.js' %}"></script>
{% endblock %}
{% block content %}

<section id="body">

    <div class="columns small-12 top-header" style="background-image: url({% static 'images/event.jpg' %}); background-position-y: 70%" alt="">
            <div class="row"><h2 class="sub-header"><span><a href="/">Home </a> <i class="fa fa-angle-right"></i></span> {{ title }} {{ name }}</h2></div>
    </div>
    <div class="row text-center">

     <div >
        <img width="200px" src="{% static 'images/wolf_large.png' %}" alt="">
        <br><h2 style="display:inline-block; margin:0px 20px;">
        <b>WearHacks</b> presents<br>Workshops</h2>
     </div>

    </div>

{% if events|length %}
    {% for event in events %}
    <div class="row" style="{% if event.photo %}background-image:url('{{ event.photo.url }}') {% endif %}">
        {% if event.description_extensions %}
            <div class="columns large-3">
                {{ event.description_extensions }}
            </div>
        {% endif %}
        {% if event.facilator %}
            <div class="columns large-3">
                {{ event.facilator.name }}
            </div>
        {% endif %}
        <div class="columns large-3">
            <div class="event-desc">
            <h4>{{ event.event_name }}</h4>
             <h5>{{ event.date }}</h5>
             <p>Venue: {{ event.address }}</p>
            </div>
        </div>
        {% if event.iconable_extensions|length %}
        <div class="event-extend">
         {% for extend in event.iconable_extensions %}
            <div>
                <i class="fa fa-{{ extend.extendKey.icon }}"></i> {{ extend }}
            </div>
         {% endfor %}
        </div>
        {% endif %}
        <a class="website" href="{{ event.slug }}" >View Details <i class="fa fa-external-link-square"></i></a>
    {% endfor %}
{% endif %}
{% if past_events|length %}
<div class="small-brk"></div>
<div class="row">
    <div class="large-12  columns">
        <div class="small-12"><h3 style="text-align:center">Past Workshops</h3></div>

        <br/>
    </div>
</div>
<div class="row">
    <div class="large-12 columns" style="position:relative">

         {% for event in past_events %}
           <div class="recent-event large-6 columns small-12">
            <a class="recent-event-link invert" href="/events/{{ event.slug }}"  data-sr="enter bottom">
                <h6>
                {{ event.event_name }} <span> {{ event.date }}</span>
                </h6>
            </a>
          </div>

        {% endfor %}

    </div>
</div>
{% endif %}
</section>

{% endblock %}