
{% extends "_base.html" %}

{% load staticfiles%}
{% load extension_extra %}
{% block title %} Events {% endblock %}
{% block stylesheets %}
    <link href="{% static 'scss/events.scss' %}" media="screen, projection" rel="stylesheet" type="text/x-scss" />
    <link href="{% static 'scss/workshop.scss' %}" media="screen, projection" rel="stylesheet" type="text/x-scss" />
{% endblock %}
{% block script_section %}

<script src="{% static 'javascript/events.js' %}"></script>
{% endblock %}
{% block content %}

<section id="body">

    <div class="columns small-12 top-header" style="background-image: url({% static 'images/event.jpg' %}); background-position-y: 70%" alt="">
            <div class="row"><h2 class="sub-header"><span><a href="/">Home </a> <i class="fa fa-angle-right"></i></span> {{ title }} {{ name }}</h2></div>
    </div>
    <div class="row text-center">

     <div >
        <img width="200px" src="{% static 'images/wolf_large.png' %}" alt="">
        <br><h2 style="display:inline-block; margin:0px 20px;">
        <b>WearHacks</b> presents<br>Workshops</h2>
     </div>

    </div><br>

{% if events|length %}
    {% for event in events %}
    <div class="row workshop-listitem" style="{% if event.photo %}background-image:url('{{ event.photo.url }}') {% endif %}">
        <div class="columns large-5 medium-6 text-right">
            <div class="event-desc">
            <h4>{{ event.event_name }}</h4>
             <h5>{{ event.date }}</h5>
             <p>Venue: {{ event.address }}</p>
             <hr>
             {% for extend in event.iconable_extensions %}
                <div class="event-icon">
                    <i class="fa fa-{{ extend.extendKey.icon }}"></i> {{ extend }}
                </div>
             {% endfor %}
            </div>
        </div>
        {% if event.description_extensions or event.facilitator %}
        <div class="columns large-7 medium-6 event-long-extension">
            <div class="row">
                {% if event.description_extensions %}
                    <div class="columns large-7 medium-12">
                        {{ event.description_extensions }}
                    </div>
                {% endif %}
                {% if event.facilitator %}
                    <div class="columns large-5 medium-12">
                        <h4>FACILITATOR</h4>
                        <img src="{{ event.facilitator.photo.url }}">
                        <strong>{{ event.facilitator.name }}</strong><br>
                        {{ event.facilitator_description }}
                    </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="row event-links">
        <div class="columns {% if event.link %}medium-6{% else %}medium-12{% endif %}">
            <a class="button expand" href="{{ event.slug }}" >View Details <i class="fa fa-external-link-square"></i></a>
        </div>
        {% if event.link %}
        <div class="columns medium-6">
            <a class="button success expand" target="_blank" href="{{ event.link }}" >Register <i class="fa fa-external-link-square"></i></a>
        </div>
        {% endif %}
    </div>
    {% endfor %}
{% endif %}
{% if past_events|length %}
<div class="small-brk"></div>
<div class="row">
    <div class="large-12  columns">
        <div class="small-12"><h3 style="text-align:center">Past Workshops</h3></div>

        <br/>
    </div>
</div>
<div class="row">
    <div class="large-12 columns" style="position:relative">

         {% for event in past_events %}
           <div class="recent-event large-6 columns small-12">
            <a class="recent-event-link invert" href="/events/{{ event.slug }}"  data-sr="enter bottom">
                <h6>
                {{ event.event_name }} <span> {{ event.date }}</span>
                </h6>
            </a>
          </div>

        {% endfor %}

    </div>
</div>
{% endif %}
</section>

{% endblock %}