.swiper-container-images {
      width: 100%;
      height: 300px;
      margin: 20px auto;
  }

  .swiper-slide {
      text-align: center;
      font-size: 18px;
      background-color: #284871;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
  }
.uniqueIcon {
    width: 70%;
    margin: auto;
    margin-bottom: 1em;
    }

#unique-section{
  margin-top:40px;
  .columns {
    text-align:center;
    p {
      color:$sub-p;
      font-size: 0.9em;
      color: #928F8F;
    }
  }
}


.event-photo {
    width: 100%;
    height: 200px;
    margin-bottom:10px;
    background-size: cover;
    display: inline-block;
    background-position-y: 30%;
    a.website {
            position: absolute;
        bottom: 0;
        right: 26px;
        color: white;
        background: white;
        color: #333;
        padding: 10px 20px;
        text-transform: capitalize;
    }
}
#event-mid-section {
      background: whitesmoke;
    padding: 3em 0em;
    margin: 3em 0em;

    iframe {
      box-shadow:2px 2px 0px #CCC;
    }
    .youtube-placeholder {
     cursor:pointer;
     height:305px;
     width: 100%;
         background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
      i {
        font-size: 6em;
        line-height: 305px;
        width: 100%;
        background: rgba(0, 0, 0, 0.52);
        color: rgba(255, 255, 255, 0.44);

        &:hover {
          transition: color 0.4s;
          color: rgba(255, 255, 255, 0.9);
        }
      }
    }
}
.event-desc {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 17px;
    padding: 10px 20px;
    background: #333;
    width: 95%;
    max-width: 375px;
  h4 {
    color:white;
    margin-bottom:0;
  }
  h5 {
    font-weight: bold;
    color:white;
    margin-top:0;
    
  }
  p {
   color:white;
   margin-bottom: 0;
  }
}

.map-tag-content p {

    color: #847F7F;

    padding-left: 2px;
    margin-bottom: 2px;
    font-size: 14px;
    margin-left: 7px;
}
.map-tag-content p {
    /* margin-bottom: 0; */
    color: #847F7F;

    padding-left: 2px;
    margin-bottom: 2px;
    font-size: 14px;
    margin-left: 7px;
}
a.past-event-link {
    background: #333;
    
    padding: 7px 15px;
    display:block;
    h6 {
    color: white;
    }
    &:hover {
      background: #222;
      color: white;
    }
}

ul.past-event {
  columns: 1;
  -webkit-columns: 1;
  -moz-columns: 1;
  @media #{$medium-up} {
    columns: 2;
  -webkit-columns: 2;
  -moz-columns: 1;
  }
  li {
          margin: 0px 15px;
          margin-bottom:10px;
  }
}
