.partner-image {
	max-width: 200px;
}

.partner-type-label {
	color: white;
	display: inline-block;
	margin: 20px 0;
	padding: 2px 50px;
	font-size: 12px;
	background-color:$info-color;
}

.failure{
	color:$alert-color;
}

.success{
	color:$success-color;
}