.ticket-displayer{
	margin-bottom:20px;

	.event-ticket{
		display:inline-block;
		padding:8px 21px;
		font-size: 20px;
		background-color: rgba(7,102,169,0.6);
		margin-left: 10px;
		margin-bottom: 10px;
		color: white;
		b{
			margin-left: 10px;
			&:before{
				display:inline-block;
				content:'';
				background-color: rgba(7,102,169,0.9);
				width:2px;
				height:30px;
				margin: 0 10px -6px 0;
			}
		}
	}

	span{
		font-size: 30px;
	}
}

.workshop-extensions{
	div{
		display: inline-block;
		padding:10px 20px;
		text-transform: capitalize;
	}
}

.list-detail{
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.event-desc{
	margin-bottom: 10px;
}

.event-long-extension{
	padding-right:32px;
	.row{
		background-color:rgba(0,0,0,0.6);
		color:white;
		padding:10px;
		margin-bottom:10px !important;
		img{
			width:100px;
			border-radius: 100%;
			float: left;
			padding-right: 10px;
		}
		h4{
			color:rgba(255,255,255,0.3);
		}
	}
}

.event-icon{
    padding: 0 10px 10px 10px;
    margin-right:10px;
    text-transform: capitalize;
    display: inline-block;
    color:white;
}

.event-links{
	.columns{
		padding:0;
		.button{
			margin:0;
		}
	}
}